body {
  color: white;
  background-image: url("https://michecosa.github.io/js-game/assets/img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 

  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Delius';
}

h1 {
  display: inline-block;
  font-size: 4rem;
}

h1, h3 {
  padding: 0.2em 0.6em;
  color: black;
  font-weight: bolder;
}

.card-body .glow:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.836);
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.card-body .glow:hover {
  background-color: rgba(255, 255, 255, 0.685);
}

.card, h3, h1, #grid {
  font-family: 'Inter';
  padding-inline: 2rem;
  padding-block: 0.8rem;
  color: black;
  background-color: rgba(255, 255, 255, 0.1);
  border: 0;
  border-radius: 2rem;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(128, 128, 128, 0.1); 
}

#grid {
  padding-inline: 1rem;
  padding-block: 1rem;
}

.grid-cell {
  width: 8vw;
  height: 8vw;
  border: 1px solid rgba(255, 255, 255, 0.567);
  max-width: 2.5rem;
  max-height: 2.5rem;

  color: rgb(61, 61, 61);

  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-cell:hover {
  cursor: pointer;
}

#welcome {
  font-family: 'Inter';
  display: flex;
  justify-content: center;
}

.victory {
  font-size: 4rem;
  margin-top: 10rem;
}